@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;

}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
    place-items: center;
}
.left{
    background-image: url(images/bg-main-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}
.card{
    position: absolute;
    top: 25%;
    /*right: -100px;*/
    left: 17vw;
    row-gap: 35px;
    display: grid;

}
.card-front{
    position: relative;
    right: 100px;
}
img{
    min-width: 100%;
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
span.absolute{
    color: white;
    position: absolute;
}
.card-logo{
    top: 28px;
    left: 32px;
}
.card-num{
    font-size: 28px;
    top: 50%;
    left: 32px;
    letter-spacing: 3.6px;
    height: 36px;
}
.card-name{
    top: 200px;
    left: 32px;
}
.card-date{
    top: 200px;
    right: 26px;
}
.card-back{
    position: relative;
}
.card-cvc{
    top: 108px;
    right: 57px;
    letter-spacing: 3px;
    font-size: 17px;
}
img{
    min-width: 100%;
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.right{
    max-width: 500px;
    margin-left: 15%;
}
.formBlock{
    width:400px;
}
input {
    padding: 10px 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}
input, button, textarea, select {
    font: inherit;
}
form>div {
    display: grid;
    width: 100%;
    row-gap: 10px;
    margin-bottom: 20px;
    position: relative;

}
.data-cvc-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

}
.data-cvc-div input{
    width: 80px;
    margin-block: 10px;
}
.date-div{
    display:block;
}
.cvc-div{
    display: flex;
    flex-direction: column;
}
.confirm {
    width: 100%;
    padding: 10px 15px;
    background-color:#210930;
    border: none;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.none {
    display: none !important;
}
.error {
    color:red;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: -20px;
}
.error.grid {
    grid-area: 3 / 1 / 4 / 3;
}
.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thanks h2 {
    margin-top: 32px;
    margin-bottom: 27px;
    font-size: 28px;
    color: #21092f;
}
.thanks p {
    margin-bottom: 46px;
    font-size: 18px;
    color: silver;
}
.thanks button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: #21092f;
    color: white;
}
.thanks img{
    min-width: 80px;
}
